* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-size: 50px;
    font-family: "华文行楷";
    color: #fff;
    background: #458585;
}

#list {
    margin: 0 auto;
    text-align: center;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

#list p {
    display: inline-block;
    font-size: 20px;
    font-family: "微软雅黑";
    height: 50px;
}

#name-list {
    font-size: 20px;
    font-family: "微软雅黑";
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    border-style: none;
}

iframe {
    border: 0;
    min-width: 800px;
    min-height: 1000px;
}

.ul-list {
    text-align: left;
    width: 80%;
}

.li-list {
    list-style: none;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: #458585;
}

a:hover {
    color: red;
}
